/Intercalacao/build/
/Intercalacao/DojoGeracaoParticoes/nbproject/private/
/DojoGeracaoParticoes/build/
/SelecaoComSubstituicoes/DojoGeracaoParticoes/build/
/SelecaoComSubstituicoes/DojoGeracaoParticoes/dist/